body{
	background-image:url("images/background.jpg");
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	text-align:center;
	color:white;
	height:100%;
	font-size:1.5em;
	
}
h2{
	padding-top:1vw;
	padding-bottom:1vw;
}
img{
	max-height:300px;
	padding-top:1.5vw;
	padding-bottom:1vw;
}

.row:nth-child(even)
{
	background:rgba(52, 73, 94, 0.6);
	padding-bottom:2vw;
}
.row:nth-child(odd)
{
	background-color:white;
	color:black;
	padding-bottom:2vw;
}
#main{
	background:rgba(52, 73, 94, 0.6);
	
}
#header{
	padding-top:15vw;
	padding-bottom:10vw;
	min-height:100%;
}
#p{
	padding-bottom:1vw;
	text-decoration:underline;
}
@media screen and (min-width:580px)
{
#p{
	border:solid;
	text-decoration:none;
	border-radius:20px;
	min-width:20vw;
	margin-left:25vw;
	margin-right:25vw;
	background:rgb(97, 106, 107);
}
}
#footer{
	padding-top:2vw;
	background:rgb(84, 153, 199);
	text-align:center;
	padding-bottom:2vw;
}
#events{
	background:white;
	color:black;
	text-align:center;
}
#ht{
	padding-top:4vw;
	background:rgb(86, 101, 115);
	color:gold;
}
#des{
	padding-bottom:2vw;
}
#register{
	font-size:2em;
}
